<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Medium-where good ideas find you</title>
  <link rel="icon" href="/Resimler/mediumlogokisa.png" type="image/png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">

</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <form class="d-flex sign" role="search">
        <img class="mediumicon" src="/Resimler/medium.icon.sanitized.svg" alt="">
        <input class="form-control me-2" type="search" placeholder="Search Medium" aria-label="Search">
      </form>

      <div class="rightpart">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Write
                <img class="write" src="/Resimler/write.png" alt="">
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <img class="bell" src="/Resimler/bell.png" alt="">
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img class="oguzhan" src="/Resimler/oguzhan.jpg" alt="">
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><a class="dropdown-item" href="#">Library</a></li>
                <li><a class="dropdown-item" href="#">Stories</a></li>
                <li><a class="dropdown-item" href="#">Stats</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Refine recommendations</a></li>
                <li><a class="dropdown-item" href="#">Manage publications</a></li>
                <li><a class="dropdown-item" href="#">Help</a></li>
                <li><a class="dropdown-item" href="#">Become a member</a></li>
                <li><a class="dropdown-item" href="#">Create a Mastadon account</a></li>
                <li><a class="dropdown-item" href="#">Apply for author verification</a></li>
                <li><a class="dropdown-item" href="#">Apply to the Partner Program</a></li>
                <li><a class="dropdown-item" href="#">Gift a membership</a></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
                <li><a class="dropdown-item" href="#">okarli94@gmail.com</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>


  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-8">
        <ul class="signul">
          <li><a href="">For You</a></li>
          <li><a href="">Following</a></li>
          <li><a href="">Data Science</a></li>
          <li><a href="">Technology</a></li>
          <li><a href="">Programming</a></li>
        </ul>
        <hr>
      </div>
    </div>
  </div>

  <div class="section-18">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="box d-flex justify-content-around">
            <div class="content">
              <img class="img" src="resimler/img1.gif" alt="">
              <a href="#">Markham Heid in THE NUANCE</a> <br>
              <a href="#"> <b>My First Immersion in Apple Vision <br> Pro: Heavy, Man!</b> </a>


              <br>

              <h3 class="font2">Latino characters have traditionally been underrepresented in mainstream comics. But
                Spider-Man’s backstory makes him the perfect superhero to be recast as a minority.</h3>
              <span class="font">May 30 . 5 min read</span>
            </div>
            <img class="" src="resimler/img7.png" alt="" width="200" height="134">
          </div>

          <div class="box d-flex justify-content-around">
            <div class="content">
              <img class="img" src="resimler/img1.gif" alt="">
              <a href="#">Markham Heid in THE NUANCE</a> <br>
              <a href="#"> <b>My First Immersion in Apple Vision <br> Pro: Heavy, Man!</b> </a>


              <br>

              <h3 class="font2">Latino characters have traditionally been underrepresented in mainstream comics. But
                Spider-Man’s backstory makes him the perfect superhero to be recast as a minority.</h3>
              <span class="font">May 30 . 5 min read</span>
            </div>
            <img class="" src="resimler/img7.png" alt="" width="200" height="134">
          </div>

          <div class="box d-flex justify-content-around">
            <div class="content">
              <img class="img" src="resimler/img1.gif" alt="">
              <a href="#">Markham Heid in THE NUANCE</a> <br>
              <a href="#"> <b>My First Immersion in Apple Vision <br> Pro: Heavy, Man!</b> </a>


              <br>

              <h3 class="font2">Latino characters have traditionally been underrepresented in mainstream comics. But
                Spider-Man’s backstory makes him the perfect superhero to be recast as a minority.</h3>
              <span class="font">May 30 . 5 min read</span>
            </div>
            <img class="" src="resimler/img7.png" alt="" width="200" height="134">
          </div>

          <div class="box d-flex justify-content-around">
            <div class="content">
              <img class="img" src="resimler/img1.gif" alt="">
              <a href="#">Markham Heid in THE NUANCE</a> <br>
              <a href="#"> <b>My First Immersion in Apple Vision <br> Pro: Heavy, Man!</b> </a>


              <br>

              <h3 class="font2">Latino characters have traditionally been underrepresented in mainstream comics. But
                Spider-Man’s backstory makes him the perfect superhero to be recast as a minority.</h3>
              <span class="font">May 30 . 5 min read</span>
            </div>
            <img class="" src="resimler/img7.png" alt="" width="200" height="134">
          </div>

          <div class="box d-flex justify-content-around">
            <div class="content">
              <img class="img" src="resimler/img1.gif" alt="">
              <a href="#">Markham Heid in THE NUANCE</a> <br>
              <a href="#"> <b>My First Immersion in Apple Vision <br> Pro: Heavy, Man!</b> </a>


              <br>

              <h3 class="font2">Latino characters have traditionally been underrepresented in mainstream comics. But
                Spider-Man’s backstory makes him the perfect superhero to be recast as a minority.</h3>
              <span class="font">May 30 . 5 min read</span>
            </div>
            <img class="" src="resimler/img7.png" alt="" width="200" height="134">
          </div>

          <div class="box d-flex justify-content-around">
            <div class="content">
              <img class="img" src="resimler/img1.gif" alt="">
              <a href="#">Markham Heid in THE NUANCE</a> <br>
              <a href="#"> <b>My First Immersion in Apple Vision <br> Pro: Heavy, Man!</b> </a>


              <br>

              <h3 class="font2">Latino characters have traditionally been underrepresented in mainstream comics. But
                Spider-Man’s backstory makes him the perfect superhero to be recast as a minority.</h3>
              <span class="font">May 30 . 5 min read</span>
            </div>
            <img class="" src="resimler/img7.png" alt="" width="200" height="134">
          </div>

          <div class="box d-flex justify-content-around">
            <div class="content">
              <img class="img" src="resimler/img1.gif" alt="">
              <a href="#">Markham Heid in THE NUANCE</a> <br>
              <a href="#"> <b>My First Immersion in Apple Vision <br> Pro: Heavy, Man!</b> </a>


              <br>

              <h3 class="font2">Latino characters have traditionally been underrepresented in mainstream comics. But
                Spider-Man’s backstory makes him the perfect superhero to be recast as a minority.</h3>
              <span class="font">May 30 . 5 min read</span>
            </div>
            <img class="" src="resimler/img7.png" alt="" width="200" height="134">
          </div>

          <div class="box d-flex justify-content-around">
            <div class="content">
              <img class="img" src="resimler/img1.gif" alt="">
              <a href="#">Markham Heid in THE NUANCE</a> <br>
              <a href="#"> <b>My First Immersion in Apple Vision <br> Pro: Heavy, Man!</b> </a>


              <br>

              <h3 class="font2">Latino characters have traditionally been underrepresented in mainstream comics. But
                Spider-Man’s backstory makes him the perfect superhero to be recast as a minority.</h3>
              <span class="font">May 30 . 5 min read</span>
            </div>
            <img class="" src="resimler/img7.png" alt="" width="200" height="134">
          </div>

          <div class="box d-flex justify-content-around">
            <div class="content">
              <img class="img" src="resimler/img1.gif" alt="">
              <a href="#">Markham Heid in THE NUANCE</a> <br>
              <a href="#"> <b>My First Immersion in Apple Vision <br> Pro: Heavy, Man!</b> </a>


              <br>

              <h3 class="font2">Latino characters have traditionally been underrepresented in mainstream comics. But
                Spider-Man’s backstory makes him the perfect superhero to be recast as a minority.</h3>
              <span class="font">May 30 . 5 min read</span>
            </div>
            <img class="" src="resimler/img7.png" alt="" width="200" height="134">
          </div>

          <div class="box d-flex justify-content-around">
            <div class="content">
              <img class="img" src="resimler/img1.gif" alt="">
              <a href="#">Markham Heid in THE NUANCE</a> <br>
              <a href="#"> <b>My First Immersion in Apple Vision <br> Pro: Heavy, Man!</b> </a>


              <br>

              <h3 class="font2">Latino characters have traditionally been underrepresented in mainstream comics. But
                Spider-Man’s backstory makes him the perfect superhero to be recast as a minority.</h3>
              <span class="font">May 30 . 5 min read</span>
            </div>
            <img class="" src="resimler/img7.png" alt="" width="200" height="134">
          </div>

          <div class="box d-flex justify-content-around">
            <div class="content">
              <img class="img" src="resimler/img1.gif" alt="">
              <a href="#">Markham Heid in THE NUANCE</a> <br>
              <a href="#"> <b>My First Immersion in Apple Vision <br> Pro: Heavy, Man!</b> </a>


              <br>

              <h3 class="font2">Latino characters have traditionally been underrepresented in mainstream comics. But
                Spider-Man’s backstory makes him the perfect superhero to be recast as a minority.</h3>
              <span class="font">May 30 . 5 min read</span>
            </div>
            <img class="" src="resimler/img7.png" alt="" width="200" height="134">
          </div>

          <div class="box d-flex justify-content-around">
            <div class="content">
              <img class="img" src="resimler/img1.gif" alt="">
              <a href="#">Markham Heid in THE NUANCE</a> <br>
              <a href="#"> <b>My First Immersion in Apple Vision <br> Pro: Heavy, Man!</b> </a>


              <br>

              <h3 class="font2">Latino characters have traditionally been underrepresented in mainstream comics. But
                Spider-Man’s backstory makes him the perfect superhero to be recast as a minority.</h3>
              <span class="font">May 30 . 5 min read</span>
            </div>
            <img class="" src="resimler/img7.png" alt="" width="200" height="134">
          </div>

          <div class="box d-flex justify-content-around">
            <div class="content">
              <img class="img" src="resimler/img1.gif" alt="">
              <a href="#">Markham Heid in THE NUANCE</a> <br>
              <a href="#"> <b>My First Immersion in Apple Vision <br> Pro: Heavy, Man!</b> </a>


              <br>

              <h3 class="font2">Latino characters have traditionally been underrepresented in mainstream comics. But
                Spider-Man’s backstory makes him the perfect superhero to be recast as a minority.</h3>
              <span class="font">May 30 . 5 min read</span>
            </div>
            <img class="" src="resimler/img7.png" alt="" width="200" height="134">
          </div>

          <div class="box d-flex justify-content-around">
            <div class="content">
              <img class="img" src="resimler/img1.gif" alt="">
              <a href="#">Markham Heid in THE NUANCE</a> <br>
              <a href="#"> <b>My First Immersion in Apple Vision <br> Pro: Heavy, Man!</b> </a>


              <br>

              <h3 class="font2">Latino characters have traditionally been underrepresented in mainstream comics. But
                Spider-Man’s backstory makes him the perfect superhero to be recast as a minority.</h3>
              <span class="font">May 30 . 5 min read</span>
            </div>
            <img class="" src="resimler/img7.png" alt="" width="200" height="134">
          </div>

          <div class="box d-flex justify-content-around">
            <div class="content">
              <img class="img" src="resimler/img1.gif" alt="">
              <a href="#">Markham Heid in THE NUANCE</a> <br>
              <a href="#"> <b>My First Immersion in Apple Vision <br> Pro: Heavy, Man!</b> </a>


              <br>

              <h3 class="font2">Latino characters have traditionally been underrepresented in mainstream comics. But
                Spider-Man’s backstory makes him the perfect superhero to be recast as a minority.</h3>
              <span class="font">May 30 . 5 min read</span>
            </div>
            <img class="" src="resimler/img7.png" alt="" width="200" height="134">
          </div>
        </div>

        <div class="col-4">
          <div class="signinright">
            <div class="signintop">
              <h2 class="myh25">Staff Picks: Juneteenth</h2>
              <a href="#"><img class="imgzaron" src="/Resimler/1_I0rbn62_lxC9HYzvDERWrQ.jpg" alt="">Zaron Burnett</a>
              <h2 class="myh25"><b>On Juneteenth (and the very American <br> Idea of Freedom)</b></h2>
              <br>
              <a href="#"><img class="imgzaron" src="/Resimler/1_I0rbn62_lxC9HYzvDERWrQ.jpg" alt="">Zaron Burnett</a>
              <h2 class="myh25"><b>On Juneteenth (and the very American <br> Idea of Freedom)</b></h2>
              <br>
              <a href="#"><img class="imgzaron" src="/Resimler/1_I0rbn62_lxC9HYzvDERWrQ.jpg" alt="">Zaron Burnett</a>
              <h2 class="myh25"><b>On Juneteenth (and the very American <br> Idea of Freedom)</b></h2>
              <div class="buttondeneme">See the full list</div>

              <div class="icon-container mt-5">
                <div class="icon">
                  <img class="mediumicon" src="/Resimler/medium.icon.sanitized.svg" alt="">
                </div>
                <div class="icon">
                  <img class="mediumicon" src="/Resimler/plus.png" alt="">
                </div>
                <div class="icon">
                  <img class="mediumicon" src="/Resimler/twitter.png" alt="">
                </div>
              </div>
              <p class="text-center mt-3">Discover Medium writers you <br>
                already follow on Twitter.</p>
              <div class="twitterbutton"><button class="twitter2">Connect To Twitter</button></div>
              <p class="maybe">Maybe Later</p>
            </div>

            <div class="signinmid">
              <h6 class="mt-5 m-auto"><b>Recommended topics</b></h6>
              <div class="top">
                <a href="#">Programming</a>
                <a href="#">Date Science</a>
                <a href="#">Technology</a>
                <a href="#">Self Improvement</a>
                <a href="#">Writing</a>
                <a href="#">Relationships</a>
                <a href="#">Machine Learning</a>


                <div class="buttondeneme mt-3">See more topics</div>
              </div>
            </div>

            <h2 class="myh26"><b>Who to follow</b></h2>
            <div class="signinbottom d-flex align-items-center">
              <img class="twitterprofile" src="/Resimler/1_zFgL3Di-_EQNVm2GWkTyUA.jpg" alt="">
              <h4 class="myh27">Carvell Wallace</h4>
              <p class="thisis">This is where I experiment.<br>
                This is where I learn to write.</p>
              <button class="follow">Follow</button>
            </div>


            <div class="buttondeneme mt-3">See more suggestions</div>
            <div class="reading">
              <h2 class="">Reading List</h2>
              <p class="">Click the on any story to easily add it to your <br> reading list or a custom list that you
                can share.</p>
            </div>


            <div class="bottomsign">
              <a href="#">Help</a>
              <a href="#">Status</a>
              <a href="#">writers</a>
              <a href="#">Blog</a>
              <a href="#">Carees</a>
              <a href="#">Privacy</a>
              <a href="#">Terms</a>
              <a href="#">About</a>
              <a href="#">Text to speech</a>
              <a href="#">Teams</a>
            </div>




          </div>
        </div>
      </div>
    </div>
  </div>
  </div>






  <script src="script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>