{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>What is Medium?</title>
  <link rel="icon" href="/Resimler/mediumlogokisa.png" type="image/png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>


  <nav class="navbar navbar-expand">
    <div class="container">
      <a class="navbar-brand" href="/indexx"><img src="{% static 'Resimler/logo.png' %}" alt="logo" width="60%"></a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/ourstory">Our story</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/membership">Membership</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/write">Write</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Sign In</a>
          </li>
          <button class="nav-btn"><a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Get
              Started</a></button>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <div class="section-1 bg-white">
    <div class="container">
      <div class="hero">
        <h1 class="baslik">Every idea needs a <b>Medium</b></h1>
        <div class="medium-logo-in-hero">
          <h2 class="header-1-period"></h2>
        </div>
      </div>
    </div>
  </div>

  <div class="block"></div>

  <div class="section-2">
    <div class="container">
      <div class="row">
        <div class="col-6 paragraph">
          <div class="box">
            <h4 class="paragraph-intro">
              The best ideas can change who we are. Medium is where those ideas take shape, take off, and spark powerful
              conversations. We’re an open platform where over 100 million readers come to find insightful and dynamic
              thinking. Here, expert and undiscovered voices alike dive into the heart of any topic and bring new ideas
              to the surface. Our purpose is to spread these ideas and deepen understanding of the world.
              <br>
              <br>
              We’re creating a new model for digital publishing. One that supports nuance, complexity, and vital
              storytelling without giving in to the incentives of advertising. It’s an environment that’s open to
              everyone but promotes substance and authenticity. And it’s where deeper connections forged between readers
              and writers can lead to discovery and growth. Together with millions of collaborators, we’re building a
              trusted and vibrant ecosystem fueled by important ideas and the people who think about them.
            </h4>
          </div>
        </div>
        <div class="col-6">
          <iframe src="https://player.vimeo.com/video/467834328?api=1&amp;background=1&amp;mute=1&amp;loop=1"
            width="100%" height="100%" positioning="relative" frameborder="0" allow="autoplay; fullscreen"
            allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>


  <div class="section-3">
    <div class="container">

      <h2 class="text-center myh2">A living network of <br> curious minds.</h2>
      <p class="paragraph2">Anyone can write on Medium. Thought-leaders, journalists, experts, and <br> individuals with
        unique perspectives share their thinking here. You’ll find <br> pieces by independent writers from around the
        globe, stories we feature and <br> leading authors, and smart takes on our own suite of blogs and publications.
      </p>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <div class="block2 my-3"></div>
          <div class="profile d-flex">
            <img class="profileimg" src="/Resimler/Erica_Dhawan_clip.png" alt="">
            <p class="mx-3 my-1 profilep">Erica Dhawan</p>
          </div>
          <div class="block2 my-3"></div>
          <div class="profile d-flex">
            <img class="profileimg" src="/Resimler/Erica_Dhawan_clip.png" alt="">
            <p class="mx-3 my-1 profilep">Erica Dhawan</p>
          </div>
          <div class="block2 my-3"></div>
          <div class="profile d-flex">
            <img class="profileimg" src="/Resimler/Erica_Dhawan_clip.png" alt="">
            <p class="mx-3 my-1 profilep">Erica Dhawan</p>
          </div>
          <div class="block2 my-3"></div>
          <div class="profile d-flex">
            <img class="profileimg" src="/Resimler/Erica_Dhawan_clip.png" alt="">
            <p class="mx-3 my-1 profilep">Erica Dhawan</p>
          </div>
          <div class="block2 my-3"></div>

        </div>
        <div class="col-4">
          <div class="block2 my-3"></div>
          <div class="profile d-flex">
            <img class="profileimg" src="/Resimler/Erica_Dhawan_clip.png" alt="">
            <p class="mx-3 my-1 profilep">Erica Dhawan</p>
          </div>
          <div class="block2 my-3"></div>
          <div class="profile d-flex">
            <img class="profileimg" src="/Resimler/Erica_Dhawan_clip.png" alt="">
            <p class="mx-3 my-1 profilep">Erica Dhawan</p>
          </div>
          <div class="block2 my-3"></div>
          <div class="profile d-flex">
            <img class="profileimg" src="/Resimler/Erica_Dhawan_clip.png" alt="">
            <p class="mx-3 my-1 profilep">Erica Dhawan</p>
          </div>
          <div class="block2 my-3"></div>
          <div class="profile d-flex">
            <img class="profileimg" src="/Resimler/Erica_Dhawan_clip.png" alt="">
            <p class="mx-3 my-1 profilep">Erica Dhawan</p>
          </div>
          <div class="block2 my-3"></div>

        </div>
        <div class="col-4">
          <div class="block2 my-3"></div>
          <div class="profile d-flex">
            <img class="profileimg" src="/Resimler/Erica_Dhawan_clip.png" alt="">
            <p class="mx-3 my-1 profilep">Erica Dhawan</p>
          </div>
          <div class="block2 my-3"></div>
          <div class="profile d-flex">
            <img class="profileimg" src="/Resimler/Erica_Dhawan_clip.png" alt="">
            <p class="mx-3 my-1 profilep">Erica Dhawan</p>
          </div>
          <div class="block2 my-3"></div>
          <div class="profile d-flex">
            <img class="profileimg" src="/Resimler/Erica_Dhawan_clip.png" alt="">
            <p class="mx-3 my-1 profilep">Erica Dhawan</p>
          </div>
          <div class="block2 my-3"></div>
          <div class="profile d-flex">
            <img class="profileimg" src="/Resimler/Erica_Dhawan_clip.png" alt="">
            <p class="mx-3 my-1 profilep">Erica Dhawan</p>
          </div>
          <div class="block2 my-3"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h2 class="myh3">Over 100 <br>million <br> readers and <br> growing.</h2>
        </div>
        <div class="col-6 leftborder">
          <div class="box3 d-flex">
            <img class="myimg2" src="/Resimler/About_Colburn-1.png" alt="">
            <div class="block3"></div>
            <div class="block4"></div>
          </div>
          <h6 class="myh4">"Medium is trying to shift the paradigm. <br> They’re catering to those looking for fresh,
            <br> new, authentic voices. I believe wholeheartedly in their mission."</h6>
          <p class="myp2">Jackie Colburn
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <h2 class="myh5 text-center">Create the space for your <br> thinking to take off.</h2>
      <p class="myp3 text-center"> A blank page is also a door. At Medium you can walk through it. It's easy <br> and
        free to share your thinking on any topic, connect with an audience, <br> express yourself with a range of
        publishing tools, and even earn money for <br> your work.</p>
      <div class="box4">
        <button class="writebutton">Write on Medium</button>
      </div>
    </div>
  </div>

  <div class="section-5">
    <div class="container">
      <p class="getmorep">Get more with membership</p>
      <p class="text-black text-center becamep">Become a Medium member to enjoy unlimited access and directly support
        <br>the writers you read most.</p>
      <div class="box5">
        <button class="mybutton2">See membership options</button>
      </div>
    </div>
    <div class="block5">
      <div class="box6 bottomborder">
        <div class="container">
          <div class="row">
            <div class="col-6 borderright">
              <p class="readp">Read as much as you want.</p>
              <img class="mt-5" src="/Resimler/UnlimitedReading.svg" alt="">
              <p class="myps mt-5">Enjoy unlimited access to every story across all of your devices.</p>
            </div>
            <div class="col-6">
              <p class="readp mx-4">Reward quality content</p>
              <img class="mt-5" src="/Resimler/SupportWriters.svg" alt="">
              <p class="myps mt-5">Your membership helps us pay writers, and keeps your experience ad-free.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-6">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h2 class="myh6">Take Medium <br> with you.</h2>
          <p class="mydown">Download our app so you can read wherever you <br>are.</p>
          <a href="#"><img class="mt-5" src="/Resimler/AppleStore_2x.png" alt="" width="167px" height="50px"></a>
          <a href="#"><img class="mt-5" src="/Resimler/PlayStore_2x.png" alt="" width="167px" height="50px"></a>
        </div>
        <div class="col-6">
          <img class="imgphone" src="/Resimler/creator-find-points-iphones.png" alt="" width="334px" height="350px">
        </div>
      </div>
    </div>
  </div>

  <div class="section-7">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h2 class="myh7">Learn more <br> about us. Or <br> join us.</h2>
        </div>


        <div class="col-6 leftborder bottom-border2">
          <h3 class="myh8">The Medium Blog</h3>
          <p class="myvisit">Visit our company blog for the latest news,<br> product updates, and tips and tricks.</p>
          <button class="writebutton2 mt-5">Write on Medium</button>

        </div>
      </div>
    </div>
    <div class="container bottom-border2">
      <div class="row">
        <div class="col-6"></div>
        <div class="col-6 leftborder bottom-border2">
          <div class="content mt-5">
            <h3 class="myh8">Work at Medium</h3>
            <p class="myvisit">Our team is home to engineers, journalists, artists,<br> and creatives of all stripes.
            </p>
            <button class="writebutton2 mt-5">View open positions </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <iframe class="iframe2" src="https://player.vimeo.com/video/448735219?api=1&background=1&mute=1&loop=1"
            frameborder="0"></iframe>
        </div>
        <div class="col-6 leftborder3">
          <div class="content mt-5">
            <h3 class="myh9">Read, write, <br> and expand <br> your world.</h3>
            <button class="writebutton2 mt-5">Get started</button>

          </div>
        </div>
      </div>
    </div>

    <div class="container thisimg">
      <img class="littleimg" src="/Resimler/logo.png" alt="">
    </div>

    <ul class="last d-flex justify-content-center">
      <li class="mx-5"><a href="">Terms</a></li>
      <li class="mx-5"><a href="">Privacy</a></li>
      <li class="mx-5"><a href="">Help</a></li>
      <li class="mx-5"><a href="">Teams</a></li>
    </ul>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="signin">
            <div class="text-center mb-5 mt-3">
              <H3>Welcome back.</H3>
            </div>
            <div class="social-btn text-center">
              <button>
                <a href="#"><img src="/Resimler/google.png" alt="">Google</a>
              </button>
            </div>
            <div class="social-btn text-center">
              <button>
                <a href="#"><img src="/Resimler/facebook.png" alt="">Facebook</a>
              </button>
            </div>
            <div class="social-btn text-center">
              <button>
                <a href="#"><img src="/Resimler/twitter.png" alt="">Twitter</a>
              </button>
            </div>
            <div class="social-btn text-center">
              <button>
                <a href="#"><img src="/Resimler/AppleStore_2x.png" alt="">Apple</a>
              </button>
            </div>
            <div class="social-btn text-center">
              <button>
                <a href="#"><img src="/Resimler/gmail.png" alt="">Email</a>
              </button>
              <h6 class="myh21">No account? <a class="createone" href="#"><b>Create one</b></a></h6>
              <br><br>
              <p>Forgot email or trouble signing in? Get Help.</p>
              <br><br>
              <p>Click “Sign In” to agree to Medium’s Terms of Service and acknowledge that Medium’s Privacy Policy
                applies to you</p>
            </div>
          </div>

        </div>
      </div>
    </div>





    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="getstarted">
            <div class="text-center">
              <h3 class="myh22">Join Medium.</h3>
            </div>
          </div>
          <div class="getstarted-btn text-center">
            <button>
              <a href="#"><img src="/Resimler/google.png" alt="">Google</a>
            </button>
          </div>
          <div class="getstarted-btn text-center">
            <button>
              <a href="#"><img src="/Resimler/facebook.png" alt="">Facebook</a>
            </button>
          </div>
          <div class="getstarted-btn text-center">
            <button>
              <a href="#"><img src="/Resimler/gmail.png" alt="">Email</a>
            </button>
          </div>
          <h6 class="myh22 text-center">Already have an account? <a class="getstarted" href="#"><b>Sign in</b></a></h6>

          <br><br>
          <p class="text-center">Click “Sign In” to agree to Medium’s Terms of Service and acknowledge that Medium’s
            Privacy Policy
            applies to you</p>
        </div>
      </div>
    </div>

    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"></script>

</body>

</html>